.bg-my-color {
  background-color: #20b2b2;
}
.logo {
  border-radius: 50px;
  background-color: black;
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  /* margin-bottom: -2rem; */
}
.navbar-brand {
  /* background-color: red; */
  display: flex;
  height: 3rem;
  justify-content: center;
  align-items: center;
}
.my-nav {
  display: flex;
  /* flex-direction: row; */
}
ul .nav-link {
  color: rgb(79, 79, 79);
}
